    <!doctype html>
<html lang="en">
  <head>

    <link rel="stylesheet" href="\assets\style.css" type="text/css">
    <meta charset="utf-8">

  </head>
  <body>
    <% include paritials/nav.ejs %>
    <h1>Contact Us!</h1>
    <p>Welcome to the most awsome website on the planet.</p>
    <p>You contacted <%= data.who %> in the <%= data.deptartament %> deptartament.</p>
    <p>We will replay to you at <%= data.email %></p>
</body>
</html>